# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Datasets & Models (Large files)
*.csv
*.xlsx
*.h5
*.keras
*.db
*.sqlite3

# Exceptions for required deployment dependencies
!water_quality_lstm.h5
!water_quality_lstm.keras
!buoy_data.csv
!nccr_data.csv

# Streamlit
.streamlit/secrets.toml
